@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap');

.bgvideo {
	height: 70vh;
	width: 100%;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}
.bgvideo video {
	height: 70vh;
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;

	z-index: 1;
}

.video-text {
	color: #fff;

	font-family: Black Han Sans, sans-serif;
	font-weight: 900;

	text-transform: uppercase;
	z-index: 2;
}
.video-h1 {
	font-size: 7.5rem;

	opacity: .2;
}

.effect {
	height: 70vh;
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;

	z-index: 2;

	background-color: rgba(0, 0, 0, .4);
}